<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <% if user_signed_in? %>
        <%= link_to t('forum.start_topic'), new_topic_path, class: 'button' %>
      <% end %>
      <% if @topics.any? %>
        <% @topics.each_with_index do |topic, i| %>
          <%= link_to topic_path(topic), class: "block-forum__item item-block-forum" do %>
            <div class="item-block-forum__num"><%= i + 1 %></div>
            <div class="item-block-forum__body">
              <div class="item-block-forum__title"><%= topic.title %></div>
              <div class="item-block-forum__text"><%= topic.body %></div>
              <div class="item-block-forum__comments">
                <p><%= t('forum.comments') %>:</p>
                <span><%= topic.topic_comments.count %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h1><%= t('topics.no_topics') %></h1>
      <% end %>
    </div>
  </div>
</div>
