<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1 class="title-small"><%= t('topics.new_topic') %></h1>
      <%= form_with(model: @topic, local: true, html: { class: "login__form", style: "display: flex; align-items: center" }) do |form| %>
        <div class="input-box">
          <%= form.label t('name') %>
          <%= form.text_field :title, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label t('description') %>
          <%= form.text_area :body, class: "input" %>
        </div>

        <label class="input-box input-box--file ">
          <%= form.label  t('image')  %>
          <%= form.file_field :image %>
          <div class="button"> Upload image</div>
        </label>

        <div class="input-box">
          <%= form.label :forum_id, t('topics.forum') %>
          <%= form.select :forum_id, options_for_select(Forum.all.map { |f| [f.title, f.id] }) %>
        </div>

        <div class="input-box">
          <%= form.label :forum_tag_id, t('topics.select_tags') %>
          <%= form.select :forum_tag_id, options_for_select(ForumTag.all.map { |tag| [tag.name, tag.id] },
                                                            @topic.topic_tags), {},
                          { multiple: true, data: { scroll: "130", class_modif: "form" } } %>
        </div>

        <div class="actions">
          <%= form.submit t('topics.create'), class: "button" %>
        </div>
      <% end %>
      <div class="button-center">
        <%= link_to t('topics.back'), @topic.forum_id.present? ? forum_path(@topic.forum_id) : forums_path, class: "button" %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'multyselect' %>
<% end %>
