<div class="anime">
  <div class="anime__container">
    <div class="anime__body">

      <% if @topic.image.attached? %>
        <div class="topic__image">
          <%= image_tag @topic.image %>
        </div>
      <% end %>

      <div class="input-box">
        <h1 class="title"><%= @topic.title %></h1>
      </div>

      <p>
        <strong><%= t('topics.tags') %>:</strong>
        <% if @topic.forum_tags.any? %>
          <% @topic.forum_tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        <% else %>
        <p><%= t('topics.no_tags') %></p>
      <% end %>
      </p>

      <% if user_signed_in? && current_user.id == @topic.user_id %>
        <%= link_to t('edit'), edit_topic_path(@topic), class: 'button' %>
      <% end %>

      <div class="character__description input-box">
        <p class="input"><%= @topic.body %></p>
      </div>

      <%= link_to t('back'), forum_path(@topic.forum), class: 'button' %>

      <% if user_signed_in? %>
        <%= form_with(model: [@topic, @topic.topic_comments.build], local: true, html: { class: "login__form", style: "display: flex; align-items: center" }) do |form| %>
          <div style="display: flex">
            <div class="input-box">
              <%= form.label :text, t('topics.add_comment') %>
              <%= form.text_area :text, class: "input", style: "width: 400px" %>
            </div>
            <div class="actions">
              <%= form.submit t('topics.send'), class: 'button' %>
            </div>
          </div>
        <% end %>
      <% end %>

      <h2 class="title-small"><%= t('topics.comments') %></h2>
      <% if @topic.topic_comments.any? %>
        <ul>
          <% @topic.topic_comments.each do |comment| %>
            <li class="comment">
              <% if comment.user.present? %>
                <%= image_tag(comment.user.image, alt: comment.user.name) %>
                <strong><%= comment.user.nickname %>:</strong>
              <% end %>
              <div class="comment-text"><%= comment.text %></div>
              <div class="comment-time">
                <% if comment.created_at.present? %>
                  <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><%= t('topics.no_comments') %>.</p>
      <% end %>
    </div>
  </div>
</div>
