<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1 class="title-small">Edit character</h1>
      <%= form_with(model: @character, local: true, html: { class: "login__form", style: "display: flex; align-items: center" }) do |form| %>

        <div class="input-box">
          <%= form.label :name %>
          <%= form.text_field :name, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :japanese %>
          <%= form.text_field :japanese, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :full_name %>
          <%= form.text_field :full_name, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :description %>
          <%= form.text_area :description, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :anime_ids, "Select Animes" %>
          <%= form.select :anime_ids, options_for_select(Anime.all.map { |anime| [anime.name, anime.id] },
                                                         @character.anime_ids), {},
                          { multiple: true, data: { scroll: "130", class_modif: "form" } } %>
        </div>

        <label class="input-box input-box--file ">
          <%= form.label :image %>
          <%= form.file_field :image %>
          <div class="button"> Upload image</div>
        </label>

        <div class="actions">
          <%= form.submit 'Update', class: "button" %>
        </div>
      <% end %>
      <div class="button-center">
        <%= link_to 'Back', characters_path(@character), class: "button" %>
      </div>
      <div class="button-center" style="color: red">
        <%= button_to "Delete character", character_path(@character), method: :delete, data: { confirm: "Are you sure?" }, class: "button" %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'multyselect' %>
<% end %>
