<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1 class="title"><%= t("characters") %></h1>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to t("new_character"), new_character_path, class: 'button' %>
        <% end %>
      <% end %>
      <div class="character-list">
        <% @characters.each do |character| %>
          <%= link_to character_path(character), class: "item-anime" do %>
            <div class="item-anime__image">
              <% if character.image.present? %>
                <%= image_tag(character.image) %>
              <% else %>
                <%= image_tag("default_photo.jpg") %>
              <% end %>
            </div>
            <div class="item-anime__body">
              <p class="item-anime__name"><%= character.name %></p>
              <% if character.animes.any? %>
                <p class="item-anime__name"><%= character.animes.first.name %></p>
              <% else %>
                <p class="item-anime__name"><%= t("default_anime_name") %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
