<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1 class="title-small"><%= t("new_character") %></h1>
      <%= form_with(model: @character, local: true, html: { class: "login__form", style: "display: flex; align-items: center" }) do |form| %>

        <div class="input-box">
          <%= form.label :name, t("name") %>
          <%= form.text_field :name, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :japanese, t("japanese") %>
          <%= form.text_field :japanese, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :full_name, t("full_name") %>
          <%= form.text_field :full_name, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :description, t("description") %>
          <%= form.text_area :description, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :anime_ids, t("select_animes") %>
          <%= form.select :anime_ids, options_for_select(Anime.all.map { |anime| [anime.name, anime.id] }, @character.anime_ids), {}, multiple: true %>
        </div>

        <label class="input-box input-box--file ">
          <%= form.label :image, t("image") %>
          <%= form.file_field :image %>
          <div class="button"><%= t("upload_image") %></div>
        </label>

        <div class="actions">
          <%= form.submit t("create"), class: "button" %>
        </div>
      <% end %>
      <div class="button-center">
        <%= link_to t("back"), characters_path, class: "button" %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'multyselect' %>
<% end %>
