<main class="page">
  <div class="login">
    <div class="login__container">
      <div class="login__body">
        <h2 class="login__title title">Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login__form" }) do |f| %>
          <div class="input-box">
            <p>Email</p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "login__input input" %>
          </div>
          <div class="input-box">
            <p>Password</p>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: "login__input input" %>
          </div>
          <div class="actions">
            <%= f.submit "Log in", class: "login__button button" %>
          </div>
        <% end %>
        <div class="login__block">
          <p>Don't have an account?</p>
          <%= link_to "Register", new_registration_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</main>