<div class="anime">
  <section class="user-page">
    <div class="anime__container">
      <div class="anime__body">
        <h1 class="title-small"><%= t('edit_profile') %></h1>

        <%= form_with(model: @user, local: true, html: { class: "login__form", style: "display: flex; align-items: center" }) do |form| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, t('error')) %> <%= t('prohibited_saving') %>:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="input-box">
            <%= form.label :name, t('name') %>
            <%= form.text_field :name, class: "input" %>
          </div>

          <div class="input-box">
            <%= form.label :nickname, t('nickname') %>
            <%= form.text_field :nickname, class: "input" %>
          </div>

          <div class="input-box">
            <%= form.label :birthday, t('birthday') %>
            <%= form.date_field :birthday, class: "input" %>
          </div>

          <div class="input-box">
            <%= form.label :sex, t('sex') %>
            <%= form.select :sex, ["Male", "Female"], { include_blank: true }, class: "input" %>
          </div>

          <div class="input-box">
            <%= form.label :location, t('location') %>
            <%= form.text_field :location, class: "input" %>
          </div>

          <div class="input-box">
            <%= form.label :about, t('about') %>
            <%= form.text_area :about, class: "input" %>
          </div>

          <label class="input-box input-box--file ">
            <%= form.label :image, t('image') %>
            <%= form.file_field :image %>
            <div class="button"> <%= t('upload_image') %></div>
          </label>

          <div class="actions">
            <%= form.submit t('update'), class: "button" %>
          </div>
        <% end %>
        <div class="button-center">
          <%= link_to t('back'), user_path(@user), class: "button" %>
        </div>
      </div>
    </div>
  </section>
</div>
