<div class="anime">
  <section class="user-page">
    <div class="anime__container">
      <div class="anime__body">
        <div class="anime__top">
          <div class="body-user-page__image-wrapper">
            <div class="body-user-page__image">
              <%= image_tag(@user.image) if @user.image.present? %>
            </div>
            <% if user_signed_in? %>
              <% if current_user.id == @user.id %>
                <%= link_to t('profile.edit'), edit_user_profile_path(@user), class: "button" %>
              <% end %>
            <% end %>
          </div>
          <div class="anime__top-block">
            <div class="input-box">
              <h1><%= t('profile.name') %></h1>
              <p class="input"><%= @user.name %></p>
            </div>
            <div class="input-box">
              <h1><%= t('profile.nickname') %></h1>
              <p class="input"><%= @user.nickname %></p>
            </div>
            <div class="input-box">
              <h1><%= t('profile.role') %></h1>
              <p class="input"><%= @user.role %></p>
            </div>
            <div class="input-box">
              <h1><%= t('profile.location') %></h1>
              <p class="input"><%= @user.location %></p>
            </div>
            <div class="input-box">
              <h1><%= t('profile.last_activity') %></h1>
              <p class="input"><%= @user.last_sign_in_at %></p>
            </div>
          </div>
        </div>

        <div class="anime__block">
          <div class="input-box">
            <h1><%= t('profile.birthday') %></h1>
            <p class="input"><%= @user.birthday %></p>
          </div>
          <div class="input-box">
            <h1><%= t('profile.sex') %></h1>
            <p class="input"><%= @user.sex %></p>
          </div>
        </div>
        <div class="input-box" style="max-width: none; width: 100%">
          <h1><%= t('profile.about') %></h1>
          <p class="input" style="max-width: none; width: 100%; height: 120px"><%= @user.about %></p>
        </div>
      </div>
      <div class="grade-button">
        <% if user_signed_in? %>
          <% if current_user.id == @user.id %>
            <a href="#" data-popup="#popup-grade" class="grade button" style="margin: 0 auto"><%= t('profile.grade') %></a>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <section class="user-anime">
    <div class="user-anime__container">
      <div class="user-anime__body">
        <% UserRate.statuses.keys.each do |status| %>
          <h1 class="title-small"><%= t("user_rates.statuses.#{status}") %></h1>
          <% if @user.user_rates.where(status: status).any? %>
            <div>
              <ul class="user-anime-list">
                <div class="user-anime-list__block">
                  <div class="user-anime-list__name"><b>#</b></div>
                  <div class="user-anime-list__name"><b><%= t('anime.name') %></b></div>
                  <div class="user-anime-list__rate"><b><%= t('anime.rating') %></b></div>
                  <div class="user-anime-list__rate"><b><%= t('anime.episodes') %></b></div>
                  <div class="user-anime-list__rate"><b><%= t('actions.action') %></b></div>
                </div>
                <% @user.user_rates.where(status: status).each_with_index do |user_rate, i| %>
                  <li class="user-anime-list__item">
                    <div class="user-anime-list__rate"><%= i + 1 %></div>
                    <div class="user-anime-list__name"><%= link_to user_rate.anime.name, user_rate.anime %></div>
                    <div class="user-anime-list__rate"><%= user_rate.score %></div>
                    <div class="user-anime-list__rate"><%= user_rate.episodes %></div>
                    <% if user_signed_in? && current_user.id == @user.id %>
                      <div class="user-anime-list__rate">
                        <%= button_to t('actions.delete'), user_rate_path(user_rate), method: :delete, data: { confirm: t('actions.confirm') }, class: "btn btn-danger" %>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <p class="title-small">No grades in <%=  t("user_rates.statuses.#{status}") %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <% if user_signed_in? && current_user.id == @user.id %>
    <div id="popup-grade" aria-hidden="true" class="popup-grade popup">
      <div class="popup__wrapper">
        <div class="popup__content">
          <div class="popup-grade__body">
            <div class="popup-grade__top">
              <button data-close type="button" class="popup__close"><%= t('actions.close') %></button>
            </div>
            <div class="popup-grade__content">
              <%= form_with(model: UserRate.new, url: user_rates_path, method: "post", html: { class: "popup-grade__block" }) do |form| %>
                <div class="input-box">
                  <%= form.label :anime_id, t('anime.anime') %>
                  <%= form.select :anime_id, options_for_select(@animes.map { |anime| [anime.name, anime.id] }), { include_blank: true }, { data: { scroll: "130", class_modif: "form" } } %>
                </div>
                <div class="input-box">
                  <%= form.label :score, t('anime.score') %>
                  <%= form.select :score, (1..10).map { |value| [value, value] }, { include_blank: true }, { data: { scroll: "130", class_modif: "form" } } %>
                </div>
                <div class="input-box">
                  <%= form.label :episodes, t('anime.episodes') %>
                  <%= form.number_field :episodes, class: "input" %>
                </div>
                <div class="input-box">
                  <%= form.label :status, t('anime.status') %>
                  <%= form.select :status, UserRate.statuses.keys.map { |status| [t("user_rates.statuses.#{status}"), status] }, { include_blank: true } %>
                </div>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <div class="actions">
                  <%= form.submit t('actions.add'), class: "button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'multyselect' %>
<% end %>