<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1 class="title"><%= t("anime_list") %></h1>
      <h1><%= t("hello") %></h1>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to t("new_anime"), new_anime_path, class: 'button' %>
        <% end %>
      <% end %>
      <div class="anime-list">
        <% @animes.each do |anime| %>
          <%= link_to anime_path(anime), class: "item-anime" do %>
            <div class="item-anime__image">
              <% if anime.title_image.present? %>
                <%= image_tag(anime.title_image) %>
              <% else %>
                <%= image_tag("default_photo.jpg") %>
              <% end %>
            </div>
            <div class="item-anime__body">
              <p class="item-anime__name"><%= anime.name %></p>
              <p class="item-anime__description"><%= anime.description.truncate(100) %></p>
              <p class="item-anime__episodes"><%= t("episodes") %>: <%= anime.episodes %></p>
              <p class="item-anime__duration"><%= t("duration") %>: <%= anime.duration %></p>
              <p class="item-anime__score"><%= t("score") %>: <%= anime.score %></p>
              <p class="item-anime__popularity"><%= t("popularity") %>: <%= anime.popularity %></p>
              <p class="item-anime__yrating"><%= t("y_rating") %>: <%= anime.yrating %></p>
              <p class="item-anime__studio"><%= t("studio") %>: <%= anime.studio_id %></p>
              <p class="item-anime__status"><%= t("status") %>: <%= anime.status.present? ? anime.status.capitalize : t("unknown") %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
