<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1>Anime List</h1>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'New anime', new_anime_path %>
        <% end %>
      <% end %>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Episodes</th>
          <th>Duration</th>
          <th>Score</th>
          <th>Popularity</th>
          <th>Rating</th>
          <th>Y-Rating</th>
          <th>Studio</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @animes.each do |anime| %>
          <tr>
            <td><%= link_to anime.name, anime %></td>
            <td><%= anime.description %></td>
            <td><%= anime.episodes %></td>
            <td><%= anime.duration %></td>
            <td><%= anime.score %></td>
            <td><%= anime.popularity %></td>
            <td><%= anime.rating %></td>
            <td><%= anime.yrating %></td>
            <td><%= anime.studio_id %></td>
            <td><%= anime.status.present? ? anime.status.capitalize : 'Unknown' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>