<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <h1><%= t("new_anime") %></h1>

      <%= form_with(model: @anime, html: { class: "login__form", style: "display: flex; align-items: center" }, local: true) do |form| %>
        <% if @anime.errors.any? %>
          <div id="error_explanation">
            <h2><%= t("prohibited_anime_save", count: @anime.errors.count) %></h2>

            <ul>
              <% @anime.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="input-box">
          <%= form.label :name, t("name") %>
          <%= form.text_field :name, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :description, t("description") %>
          <%= form.text_area :description, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :episodes, t("episodes") %>
          <%= form.number_field :episodes, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :duration, t("duration") %>
          <%= form.number_field :duration, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :score, t("score") %>
          <%= form.number_field :score, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :popularity, t("popularity") %>
          <%= form.number_field :popularity, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :rating, t("rating") %>
          <%= form.number_field :rating, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :yrating, t("y_rating") %>
          <%= form.number_field :yrating, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :studio_id, t("studio") %>
          <%= form.number_field :studio_id, class: "input" %>
        </div>

        <div class="input-box">
          <%= form.label :status, t("status") %>
          <%= form.select :status, Anime.statuses.keys.map { |status| [t(status.capitalize), status] }, {}, class: "input" %>
        </div>

        <label class="input-box input-box--file">
          <%= form.label :title_image %>
          <%= form.file_field :title_image %>
          <div class="button"><%= t("upload_image") %></div>
        </label>

        <div class="input-box">
          <%= form.label :tags, t("select_tags") %><br>
          <% @tags.each do |tag| %>
            <label class="">
              <p><%= tag.name %></p>
              <%= check_box_tag "anime[tag_ids][]", tag.id, @anime.tags.include?(tag), id: "tag_#{tag.id}", class: "real-checkbox" %>
              <span class="custom-checkbox"></span>
            </label>
          <% end %>
        </div>

        <div class="input-box">
          <%= form.label :types, t("select_types") %><br>
          <% @types.each do |type| %>
            <label class="">
              <p><%= type.name %></p>
              <%= check_box_tag "anime[type_ids][]", type.id, @anime.types.include?(type), id: "type_#{type.id}", class: "real-checkbox" %>
              <span class="custom-checkbox"></span>
            </label>
          <% end %>
        </div>

        <div class="input-box">
          <%= form.label :genres, t("select_genres") %><br>
          <% @genres.each do |genre| %>
            <label class="">
              <p><%= genre.name %></p>
              <%= check_box_tag "anime[genre_ids][]", genre.id, @anime.genres.include?(genre), id: "genre_#{genre.id}", class: "real-checkbox" %>
              <span class="custom-checkbox"></span>
            </label>
          <% end %>
        </div>

        <div class="actions">
          <%= form.submit t("create"), class: "button" %>
        </div>
      <% end %>
      <div class="button-center">
        <%= link_to t("back"), characters_path(@character), class: "button" %>
      </div>
    </div>
  </div>
</div>
