<div class="anime">
  <div class="anime__container">
    <div class="anime__body">
      <div class="character__content">
        <% if @anime.title_image.attached? %>
          <div class="input-box character__image">
            <%= image_tag @anime.title_image %>
          </div>
        <% end %>
        <div class="character__block">
          <h1 class="title"><%= @anime.name %></h1>

          <div class="input-box">
            <p><%= t("description") %>:</p>
            <p class="input"><%= @anime.description %></p>
          </div>

          <div class="input-box">
            <p><%= t("episodes") %>:</p>
            <p class="input"><%= @anime.episodes %></p>
          </div>

          <div class="input-box">
            <p><%= t("duration") %>:</p>
            <p class="input"><%= @anime.duration %></p>
          </div>

          <div class="input-box">
            <p><%= t("score") %>:</p>
            <p class="input"><%= @anime.score %></p>
          </div>

          <div class="input-box">
            <p><%= t("popularity") %>:</p>
            <p class="input"><%= @anime.popularity %></p>
          </div>
        </div>
      </div>
      <div class="anime__block">
        <div class="input-box">
          <p><%= t("rating") %>:</p>
          <p class="input"><%= @anime.rating %></p>
        </div>

        <div class="input-box">
          <p><%= t("y_rating") %>:</p>
          <p class="input"><%= @anime.yrating %></p>
        </div>

        <div class="input-box">
          <p><%= t("status") %>:</p>
          <p class="input"><%= @anime.status.present? ? @anime.status.capitalize : t("unknown") %></p>
        </div>

        <div class="input-box">
          <p><%= t("tags") %>:</p>
          <ul class="input">
            <% @anime.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        </div>

        <div class="input-box">
          <p><%= t("genres") %>:</p>
          <ul class="input">
            <% @anime.genres.each do |genre| %>
              <li><%= genre.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="input-box">
          <p><%= t("studio") %>:</p>
          <%= link_to @anime.studio.name, studio_path(@anime.studio), class: "input" %>
        </div>

        <div class="input-box">
          <p><%= t("types") %>:</p>
          <ul class="input">
            <% @anime.types.each do |type| %>
              <li><%= type.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="input-box">
        <p><%= t("characters") %>:</p>
        <% if @anime.characters.any? %>
          <ul class="input">
            <% @anime.characters.each do |character| %>
              <li class="input"><%= link_to character.name, character %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="input"><%= t("no_characters") %></p>
        <% end %>
      </div>

      <% if user_signed_in? && current_user.admin? %>
        <%= link_to t("edit"), edit_anime_path(@anime), class: 'button' %>
      <% end %>
      <%= link_to t("back"), animes_path, class: 'button' %>
      <% if user_signed_in? %>
        <%= form_with(model: [@anime, @anime.comments.build], local: true, html: { class: "login__form", style: "display: flex; align-items: center" }) do |form| %>
          <div style="display: flex">
            <div class="input-box">
              <%= form.label :text, t("add_comment") %>
              <%= form.text_area :text, class: "input", style: "width: 400px" %>
            </div>
            <div class="actions">
              <%= form.submit t("send"), class: 'button' %>
            </div>
          </div>
        <% end %>
      <% end %>

      <h2 class="title-small"><%= t("comments") %></h2>
      <% if @anime.comments.any? %>
        <ul>
          <% @anime.comments.each do |comment| %>
            <li class="comment">
              <% if comment.user.present? && comment.user.image.attached? %>
                <%= image_tag(comment.user.image, alt: comment.user.name) %>
                <strong><%= comment.user.nickname %>:</strong>
              <% end %>
              <div class="comment-text"><%= comment.text %></div>
              <div class="comment-time">
                <% if comment.created_at.present? %>
                  <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
                <% else %>
                  <em><%= t("unknown_time") %></em>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><%= t("no_comments") %></p>
      <% end %>
    </div>
  </div>
</div>
