<div class="anime">
  <div class="anime__container">
    <div class="anime__body">

      <% if @anime.title_image.attached? %>
        <div>
          <%= image_tag @anime.title_image %>
        </div>
      <% end %>

      <h1><%= @anime.name %></h1>

      <div>
        <strong>Description:</strong>
        <%= @anime.description %>
      </div>

      <div>
        <strong>Episodes:</strong>
        <%= @anime.episodes %>
      </div>

      <div>
        <strong>Duration:</strong>
        <%= @anime.duration %>
      </div>

      <div>
        <strong>Score:</strong>
        <%= @anime.score %>
      </div>

      <div>
        <strong>Popularity:</strong>
        <%= @anime.popularity %>
      </div>

      <div>
        <strong>Rating:</strong>
        <%= @anime.rating %>
      </div>

      <div>
        <strong>Y-Rating:</strong>
        <%= @anime.yrating %>
      </div>

      <div>
        <strong>Studio:</strong>
        <%= @anime.studio_id %>
      </div>

      <div>
        <strong>Status:</strong>
        <%= @anime.status.capitalize %>
      </div>

      <div>
        <strong>Tags:</strong>
        <ul>
          <% @anime.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
      </div>

      <div>
        <strong>Genres:</strong>
        <ul>
          <% @anime.genres.each do |genre| %>
            <li><%= genre.name %></li>
          <% end %>
        </ul>
      </div>

      <div>
        <strong>Types:</strong>
        <ul>
          <% @anime.types.each do |type| %>
            <li><%= type.name %></li>
          <% end %>
        </ul>
      </div>

      <div>
        <strong>Characters:</strong>
        <% Rails.logger.debug "Anime characters: #{@anime.characters.inspect}" %>
        <% if @anime.characters.any? %>
          <p>Number of characters: <%= @anime.characters.count %></p>
          <ul>
            <% @anime.characters.each do |character| %>
              <li>
                <%= character.name %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No characters.</p>
        <% end %>
      </div>

      <h2>Comments</h2>
      <% if user_signed_in? %>
        <%= form_with(model: [@anime, @anime.comments.build], local: true) do |form| %>
          <div class="field">
            <%= form.label :text, "Add comment" %><br>
            <%= form.text_area :text %>
          </div>
          <div class="actions">
            <%= form.submit "Send" %>
          </div>
        <% end %>
      <% end %>
      <% if @anime.comments.any? %>
        <ul>
          <% @anime.comments.each do |comment| %>
            <li>
              <% if comment.user.present? %>
                <strong><%= comment.user.email %>:</strong>
              <% else %>
                <strong>Deleted user:</strong>
              <% end %>
              <%= comment.text %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No comments.</p>
      <% end %>

      <%= link_to 'Edit', edit_anime_path(@anime) %> |
      <%= link_to 'Back', animes_path %>
    </div>
  </div>
</div>