<!DOCTYPE html>
<html>
<head>
  <title>AnimeListing</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= javascript_importmap_tags %>
  <%= yield :javascript %>
</head>

<body>
<div class="wrapper">
  <header class="header">
    <div class="header__container">
      <%= link_to "AniNyaListing", root_path, class: "logo" %>
      <div class="header__menu menu">
        <button type="button" class="menu__icon icon-menu"><span></span></button>
        <nav class="menu__body">
          <ul class="menu__list">
            <li class="menu__item">
              <%= link_to t("forums.forums"), forums_path, class: "user__action user__action--registration" %>
            </li>
            <li class="menu__item">
              <%= link_to t("anime"), animes_path, class: "user__action user__action--registration" %>
            </li>
            <li class="menu__item">
              <%= link_to t("characters"), characters_path, class: "user__action user__action--registration" %>
            </li>
            <li class="menu__item">
              <%= link_to t("eng"), url_for(locale: "en"), class: 'user__action user__action--registration' %>
            </li>
            <li class="menu__item">
              <%= link_to t("ukr"), url_for(locale: "ua"), class: 'user__action user__action--registration' %>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__user user">
        <% if user_signed_in? %>
          <%= link_to t("profile"), user_profile_path(current_user.id), class: "user__action user__action--registration" %>
          <%= button_to t("sign_out"), destroy_user_session_path, class: "user__action user__action--registration", method: :delete %>
        <% else %>
          <%= link_to t("log_in"), new_user_session_path, class: "user__action user__action--login" %>
          <%= link_to t("registration"), new_user_registration_path, class: "user__action user__action--registration" %>
        <% end %>
      </div>
    </div>
  </header>
  <main class="page">
    <%= yield %>

    <%= yield :javascript %>
  </main>
  <footer class="footer">
    <div class="footer__container">
    </div>
  </footer>
</div>
</body>
</html>
